.container {
    max-width: 1250px;
    margin: 0 auto;
}

body {
    background-color: #15161a;
    color: #eaebef;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-bottom: 20px;
}

.section-row {
    display: flex;
    margin-bottom: 15px;
}

.section-row p {
    margin-right: 15px;
}

input {
    background-color: #15161a;
    border-radius: 10px;
    border: 2px solid #2b2f37;
    color: #eaebef;
    padding-inline: 10px;
}

button {
    background-color: #406ac0;
    border: 0px;
    border-radius: 15px;
    color: #eaebef;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 40px;

}

button:hover {
    background-color: #3257a0;
    transform: scale(0.99);
    transition: all 0.2s ease-in-out;
}

.block {
    width: 100px;
    height: 110px;
    margin-right: 5px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.block:last-of-type {
    margin-right: 0px;
}

#row {
    margin-bottom: 20px;
}

.true {
    background-color: green;
    transition: all 0.25s ease-in-out;
}

.false {
    background-color: orange;
    transition: all 0.25s ease-in-out;
}