body {
    background-color: #65adc3;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#washingMachine {
    transition: all 0.25s ease-in-out;
}

#washingMachine:hover {
    transform: scale(1.01);
}